.messageDiv {
  text-align: right;
}

.myMessage {
  max-width: 300px;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid yellow;
  background-color: yellow;
  border-radius: 5px;
  word-break: break-all;
}
