.travelNav {
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  > div {
    flex-grow: 1;

    > a {
      text-decoration: none;
      color: black;
    }
  }

  .travelMenu:hover {
    border: 1px gray solid;
    transform: scale(1.1);
    transition: transform 0.35s;
  }
}
