.adminPlaceUnit {
    padding: 0.3rem;
    margin: 0.2rem;
    border: 1px solid gray;
    display: flex;
    align-items: center;
  }
  
 
  
  .adminPlaceImg {
    width: 10%;
    margin-right: 0.7rem;
  }
  
  .adminPlaceName {
      font-size: 0.7rem;
    width: 25%;
    margin-right: 0.5rem;
  }
  
  .adminPlaceLocation {
    font-size: 0.9rem;
    width: 55%;
    margin-right: 0.5rem;
  }
  
  